@inherits LayoutComponentBase
@inject IJSRuntime JS

<nav class="flex-row-s-c gap-b">
	<h1>Bit&nbsp;Calculator</h1>

	<div style="background: rebeccapurple;" @onclick="@(SetThemeNight)" />
	<div style="background: pink;" @onclick="@(SetThemePastel)" />
	<div style="background: blue;" @onclick="@(SetThemeBlue)" />
	<div style="background: hotpink;" @onclick="@(SetThemeK)" />
	<div style="background: grey;" @onclick="@(SetThemeGreyscale)" />

</nav>

<section>
	@Body
</section>


@code {

	private async Task SetThemeNight() => await ThemeTime(@"
  --clr-back: #02011a;
  --clr-main: #400976;
  --clr-input: #8153ff;
  --clr-button: #6732c4;
  --clr-bit: #624ba7;
  --clr-error: #a6166c;
");

	private async Task SetThemePastel() => await ThemeTime( @"
  --clr-back: #c39bda;
  --clr-main: #ffb8dd;
  --clr-input: #ff8fb8;
  --clr-button: #77bdff;
  --clr-bit: #a2d4ff;
  --clr-error: #ff9b9b;
");

	private async Task SetThemeBlue() => await ThemeTime(@"
  --clr-back: #1c2141;
  --clr-main: #125fb1;
  --clr-input: #559eff;
  --clr-button: #00bbff;
  --clr-bit: #559eff;
  --clr-error: #cc5974;
");
	
	private async Task SetThemeK() => await ThemeTime(@"
  --clr-back: #2d3047;
  --clr-main: #c32187;
  --clr-input: #ff62a3;
  --clr-button: #89cc5d;
  --clr-bit: #29cb44;
  --clr-error: #ff524c;
");

	private async Task SetThemeGreyscale() => await ThemeTime(@"
  --clr-back: #000000;
  --clr-main: #434343;
  --clr-input: #6f6f6f;
  --clr-button: #9c9c9c;
  --clr-bit: #9a9a9a;
  --clr-error: #7a5e5e;
");

	private async Task ThemeTime(string themeInput)
	{
		await JS.InvokeVoidAsync("setCssVariables", Themify(themeInput));
	}

	private Dictionary<string, string> Themify(string input)
	{
		string[] kvp = input.Split([':', ';'], StringSplitOptions.RemoveEmptyEntries)
			.Select(s => s.Trim())
			.Where(s => s.Length > 0)
			.ToArray();

		Dictionary<string, string> map = new();
		for (int i = 0; i+1 < kvp.Length; i += 2)
					map.Add(kvp[i], kvp[i + 1]);
		
		return map;
	}
}