<input type="number"
	   value="@(CurrentInput)"
	   @oninput="@(OnInput)" />

<div class="flex-col-s-s">
	<p>DEC: @(CurrentInput)</p>
	<p>HEX: @(Bell.GetHexidecimal(CurrentIntegerSize, CurrentInput))</p>
	<p>BIN: @(Bell.GetBinary(CurrentIntegerSize, CurrentInput))</p>
</div>

@code {
	[Parameter] public Int128 CurrentInput { get; set; } 
	[Parameter] public IntegerSize CurrentIntegerSize { get; set; }
	[Parameter] public EventCallback<ChangeEventArgs> OnInput { get; set; }
}
