@page "/"
@using BitCalculator

<h2>Programming</h2>

<article class="flex-row-s-s gap-d">
	<div class="flex-spread">
		<NumberDisplay CurrentInput="@(calculator.CurrentInput)"
					   PreviousValue="@(calculator.PreviousValue)"
					   CurrentIntegerSize="@(calculator.CurrentIntegerSize)"
					   OnInput="@(ReadInput)" />

		<hr />
		<h3>Calculation ZONE</h3>
		<div class="flex-row-s-s gap-a ">
			@foreach (OperatorType type in Enum.GetValues<OperatorType>())
			{
				<OperatorButton Operator="@(type)"
								SelectOperator="@(SelectOperator)"
								Selected="@(calculator.CurrentOperator)">@(Operations.GetButtonTextForOperator(type))</OperatorButton>
			}
		</div>

		@if (calculator.CurrentOperator == OperatorType.NOT)
		{
			<p>NOT</p>
		}
		else
		{
			<input type="number"
				   value="@(calculator.CurrentInput)"
				   @oninput="@(ReadInput)" />
		}
		<button @onclick="@(calculator.RunCalculation)">@(calculator.CurrentOperator)</button>
	</div>
	<div>
		<div class="integer-sizes">
			@foreach (IntegerSize size in Enum.GetValues<IntegerSize>())
			{
				<RadioButton Name="int_type"
							 Value="@(size.ToString())"
							 Selected="@(calculator.CurrentIntegerSize.ToString())"
							 OnChange="@(() => calculator.UpdateType(size))" />
			}
		</div>
	</div>
</article>

@code {
	private Calculator calculator = new Calculator();

	private void ReadInput(ChangeEventArgs e)
	{
		string newInput = e.Value?.ToString() ?? "0";
		if (newInput.Length > 0)
			calculator.UpdateInput(newInput);
	}

	private void SelectOperator(OperatorType newOperator)
	{
		calculator.UpdateOperator(newOperator);
	}
}