@page "/"
@using BitCalculator
@using BitCalculator.Layout
@using System.Text

<article class="calculator">
	<div class="flex-spread">
		<NumberDisplay CurrentInput="@(calculator.PreviousValue)"
					   DisplayOutOfBoundsInput="@(false)"
					   CurrentIntegerSize="@(calculator.CurrentIntegerSize)"
					   OnInput="@(ReadPreviousInput)" />
		<hr />
		<NumberDisplay CurrentInput="@(calculator.CurrentValue)"
					   DisplayOutOfBoundsInput="@(true)"
					   CurrentIntegerSize="@(calculator.CurrentIntegerSize)"
					   OnInput="@(ReadCurrentInput)" />
		<div class="flex-row-s-s gap-b operator-buttons">
			@foreach (OperatorType type in Enum.GetValues<OperatorType>())
			{
				<OperatorButton Operator="@(type)"
								SelectOperator="@(SelectOperator)">
					@(Operations.GetButtonTextForOperator(type))
				</OperatorButton>
			}
		</div>
	</div>
	<div class="flex-col-s-s">
		<div class="integer-size-selection">
			@foreach (IntegerSize size in Enum.GetValues<IntegerSize>())
			{
				<RadioButton Name="int_type"
							 Value="@(size.ToString())"
							 Selected="@(calculator.CurrentIntegerSize.ToString())"
							 OnChange="@(() => calculator.UpdateType(size))" />
			}
		</div>
		<hr />
		<div class="flex-col-s-s history">
			<button @onclick="@(ToggleHistory)">Toggle History</button>
			<div class="@(HistoryToggleClass)">
				@for (int i = calculationHistory.Count - 1; i >= 0; i--)
				{
					<p>@(calculationHistory[i])</p>
				}
			</div>
		</div>
	</div>
</article>

@code {
	private readonly Calculator calculator = new();
	private readonly List<string> calculationHistory = new();
	private bool showHistory = true;

	private string HistoryToggleClass => "list " + (showHistory ? "active" : "inactive");

	private void ReadPreviousInput(ChangeEventArgs e)
	{
		UpdateInputWith(e, calculator.UpdatePreviousInput);
	}

	private void ReadCurrentInput(ChangeEventArgs e)
	{
		UpdateInputWith(e, calculator.UpdateCurrentInput);
	}

	private void UpdateInputWith(ChangeEventArgs e, Action<string> action)
	{
		string newInput = e.Value?.ToString() ?? "0";
		StringBuilder sb = new();
		for (int i = 0; i < newInput.Length; i++)
		{
			if (newInput[i] == '-')
			{
				if (sb.Length == 0)
					sb.Append('-');
				continue;
			}

			if (newInput[i] >= '0' && newInput[i] <= '9')
				sb.Append(newInput[i]);
		}

		if (sb.Length > 0)
			action(sb.ToString());
	}

	private void SelectOperator(OperatorType newOperator)
	{
		calculator.UpdateOperator(newOperator);
		calculator.RunCalculation();
		AppendHistory();
	}

	private void AppendHistory()
	{
		if (showHistory)
		{
			calculationHistory.Add(calculator.PreviousValue.ToString());
			if (calculationHistory.Count > 30)
				calculationHistory.RemoveRange(0, calculationHistory.Count - 30);
		}
	}

	private void ToggleHistory()
	{
		calculationHistory.Clear();
		showHistory = !showHistory;
	}
}