@page "/"
@using BitCalculator

<h2>Programming</h2>

<article class="flex-row-s-s gap-d">
	<div class="flex-spread">
		<NumberDisplay CurrentInput="@(calculator.PreviousValue)"
					   DisplayOutOfBoundsInput="@(false)"
					   CurrentIntegerSize="@(calculator.CurrentIntegerSize)"
					   OnInput="@(ReadPreviousInput)" />
		<hr />
		<NumberDisplay CurrentInput="@(calculator.CurrentValue)"
					   DisplayOutOfBoundsInput="@(true)"
					   CurrentIntegerSize="@(calculator.CurrentIntegerSize)"
					   OnInput="@(ReadCurrentInput)" />
		<div class="flex-row-s-s gap-b operator-buttons">
			@foreach (OperatorType type in Enum.GetValues<OperatorType>())
			{
				<OperatorButton Operator="@(type)"
								SelectOperator="@(SelectOperator)">
					@(Operations.GetButtonTextForOperator(type))
				</OperatorButton>
			}
		</div>
	</div>
	<div>
		<div class="integer-sizes">
			@foreach (IntegerSize size in Enum.GetValues<IntegerSize>())
			{
				<RadioButton Name="int_type"
							 Value="@(size.ToString())"
							 Selected="@(calculator.CurrentIntegerSize.ToString())"
							 OnChange="@(() => calculator.UpdateType(size))" />
			}
		</div>
	</div>
</article>

@code {
	private Calculator calculator = new Calculator();

	private void ReadPreviousInput(ChangeEventArgs e)
	{
		string newInput = e.Value?.ToString() ?? "0";
		if (newInput.Length > 0)
			calculator.UpdatePreviousInput(newInput);
	}

	private void ReadCurrentInput(ChangeEventArgs e)
	{
		string newInput = e.Value?.ToString() ?? "0";
		if (newInput.Length > 0)
			calculator.UpdateCurrentInput(newInput);
	}

	private void SelectOperator(OperatorType newOperator)
	{
		calculator.UpdateOperator(newOperator);
		calculator.RunCalculation();
	}
}